


PROJECT_ROOT = "/home/yang/workspace/grad/zhang505-yisupeng-final/"

IMAGE_TEST = PROJECT_ROOT + "image/test1/"
LISTFILE_TEST = PROJECT_ROOT + "tools/listfile-test.txt"
IMAGE_TEST_DATA_PATH = PROJECT_ROOT + "data/test"

IMAGE_TRAIN = PROJECT_ROOT + "image/train1/"
LISTFILE_TRAIN = PROJECT_ROOT + "tools/listfile-train.txt"
IMAGE_TRAIN_DATA_PATH = PROJECT_ROOT + "data/train"

CAFEE_ROOT = "/home/yang/workspace/caffe/"
CONVERT_IMAGESET = CAFEE_ROOT + "build/tools/convert_imageset"

LENET_TRAIN_PROTOTXT = PROJECT_ROOT + "lenet/lenet_auto_train.prototxt"
LENET_TEST_PROTOTXT = PROJECT_ROOT + "lenet/lenet_auto_test.prototxt"
